# Python cache files
__pycache__/

# macOS system files
.DS_Store

# Large datasets
magnatagatune_dataset/

# Environment folders
/music-net/
/musictag_env/
/env/
/venv/

# IDE and editor configuration
.idea/
.vscode/
